html{
    background-color: rgb(31, 31, 31);
    color: white;
    padding-top: 20px; padding-left: 10px; padding-right: 10px;
    text-align: center;
    font-size: 60px;
}
h1{
    color: rgb(232, 255, 21);
}