html{
    background-color: rgb(31, 31, 31);
    color: white;
    padding-top: 30px; padding-left: 10px; padding-right: 10px;
    font-size: larger;
    text-align: center;
}

index.med{
    font-size: 60px;
}
th{
    border: 1px solid; border-color: gold; padding: 5px;
}
table{
    border: 1px solid gold; border-collapse: collapse;
}